# Dependencies
node_modules/
src/renderer/node_modules/
src/renderer/public/

# Build outputs
dist/
src/renderer/dist/
src/main/metadata_editor.exe
build/pyinstaller/
test-files/

# dotenv environment variables file
.env

# IDE files
.vscode/
.idea/
.vs/

# Electron
out/
app/
