# Dependencies
node_modules/
src/renderer/node_modules/
src/renderer/public/assets
src/renderer/public/js
src/renderer/public/styles

# Build outputs
build/
dist/
src/renderer/dist/

# dotenv environment variables file
.env

# IDE files
.vscode/
.idea/
.vs/

# Electron
out/
app/
